


.footer-distributed1 h3 {
    /*-----logo navbar tuciudad---------*/
    color: #ffffff;
    font: normal 35px 'Roboto', Helvetica; /*normal 55px 'Cookie', cursive;*/
    /text-shadow: 1px 2px 2px rgba(1, 1, 1, 0.9);
    /margin: -75px;
    margin-top: -10px;
    /vertical-align: middle;
    z-index: 1000;
}

.search-btn {
  border-radius: 3px;
}



.footer-distributed1:hover,
.footer-distributed1:focus,
.footer-distributed1:active,
.footer-distributed1.active,
.open .dropdown-toggle.footer-distributed1 h3 {
    color: #ffffff;
    border-color: #4D6FB8;
}

.footer-distributed1 h3 span {
    color: #5383d3;
    font: normal 35px 'Roboto', Helvetica;
}

.border-bot {
    border-bottom-color: rgba(40, 44, 48, 0.3);
    border-bottom: 0;
    background-color: rgba(40, 44, 48, 1);
    box-shadow: 0 1px 2px rgba(40, 44, 48, 1);;
}

.btn-trans {
    display: inline-block;
    color: #ffffff;
    background-color: rgba(40, 44, 48, 0.8);
    border-color: rgba(255, 255, 255, 0.8);
    cursor: pointer;
    font: normal, 'roboto';
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 2px;
    z-index: 1000;
}

.btn-trans:hover,
.btn-trans:focus,
.btn-trans:active,
.btn-trans.active,
.open .dropdown-toggle.btn-trans {
    color: #111;
    background-color: #ffffff;
    border-color: #ffffff;
    text-align: center;
    border: 0;
}
@media screen and (max-width: 760px){
    .btn-trans {
        width: 100%; 
        margin-right: 15px;
    margin-left: 0px;
    margin-top: 3px;
    }    
}
/*-------------hamburger---------*/
.c-hamburger {
  display: block;
  position: relative;
  overflow: hidden;
  margin: 0;
  padding: 0;
  width: 50px;
  height: 50px;
  font-size: 0;
  text-indent: -9999px;
  appearance: none;
  box-shadow: none;
  border-radius: none;
  border: none;
  cursor: pointer;
  transition: background 0.3s;
}

.c-hamburger:focus {
  outline: none;
}

.c-hamburger span {
  display: block;
  position: absolute;
  top: 22.5px;
  left: 8.5px;
  right: 8.5px;
  height: 7px;
  background: white;
}

.c-hamburger span::before,
.c-hamburger span::after {
  position: absolute;
  display: block;
  left: 0;
    
  width: 100%;
  height: 7px;
  background-color: #fff;
  content: "";
}

.c-hamburger span::before {
  top: -12px;
}

.c-hamburger span::after {
  bottom: -12px;
}

.c-hamburger--htx {
  background-color: #ff3264;
}

.c-hamburger--htx span {
  transition: background 0s 0.3s;
}

.c-hamburger--htx span::before,
.c-hamburger--htx span::after {
  transition-duration: 0.3s, 0.3s;
  transition-delay: 0.3s, 0s;
}

.c-hamburger--htx span::before {
  transition-property: top, transform;
}

.c-hamburger--htx span::after {
  transition-property: bottom, transform;
}

/* active state, i.e. menu open */
.c-hamburger--htx.is-active {
  background-color: #cb0032;
}

.c-hamburger--htx.is-active span {
  background: none;
}

.c-hamburger--htx.is-active span::before {
  top: 0px;
  transform: rotate(45deg);
}

.c-hamburger--htx.is-active span::after {
  bottom: 0;
  transform: rotate(-45deg);
}

.c-hamburger--htx.is-active span::before,
.c-hamburger--htx.is-active span::after {
  transition-delay: 0s, 0.3s;
}

.nav-search {
    width: 15%;
}

@media (min-width: 768px) {
  .navbar-nav.navbar-center {
    /position: absolute;
    /left: 50%;
    /transform: translatex(-50%);
    float: none;
      display: inline-block;
  }
  .navbar-fixed-top #navbar {
  max-height: 50px;
}
}
/*******************fin-navbar******************/