.productos-container {
    display: flex;
    flex-wrap: wrap;
    /max-width: 1000px;
    margin-left: 0;
    margin-right: auto;
    position: relative;
    /min-width: 630px;
}

.producto1 .item {
    /width: calc(190px );
    
    overflow: hidden;
    border: 1px solid #D9D9D9;
    box-sizing: border-box;
    position: relative;
    cursor: pointer;
    transition: all 0.1s;
    white-space: nowrap;
    vertical-align: middle;
    text-align: center; margin: 1em 0;
}
.producto1 {
    width: 100%;
    margin-bottom: 20px;
}
.producto1 .item:hover {

   box-shadow: 0px 0px 1px 1px rgba(217, 217, 217, 0.85);
   

}

.producto1 .item img {
    display: block;
    /width: 100%;
    height: 100%;
    margin: 0 auto;
}

.producto1 .item .content   {
    position: absolute;
    top: 0;
    width: 100%;
    height: 70%;
    background: rgba(250,250,250,0.9);
    opacity: 0;

}
.producto1 .item .content h3  {
     text-align: center;
     font-weight: 100;
     color: rgb(40, 44, 48);
     font-family: normal, 'roboto';
     font-weight: 400;
}
.producto1 .item:hover .content  {
   opacity: 1;
    
}

.producto1 .item .content h5  {
    position: relative;
    text-align: center;
    margin-top: 15%;
    font-weight: 300;
    color: rgb(83, 131, 211);
    font-size: 20px;
}
/.producto1 .item .content h5 span  {
    color: rgb(83, 131, 211);
}
/.producto1 .item .content a:link  { text-decoration: inherit;}
.producto1 .item .content a:visited  { text-decoration: inherit;}
.producto1 .item .content a:active  { text-decoration: inherit;}
/.producto1 .item .content a  { text-decoration: inherit; color: #515251; transition: all 0.2s;}
/.producto1 .item .content h5 span:hover  { color: rgb(39, 77, 154); }

.producto1 .item .content-bot {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 30%;
    text-align: right;
    color: rgba(153, 0, 0, 0.9);
    background: rgba(250,250,250,0.9);
}

.producto1 .item .content-bot h3 {
    font-weight: 600;
    font-family: sans-serif;
}
.producto1 .item .content-bot h3 sup{
    font-size: 60%;
}
.producto1 .item .content-bot h4 {
    color: #282c30;
    line-height: 0;
}
/******home responsive**********/
@media (max-width: 500px) {
  .mainpage .producto1 .item {
        height: 170px;
        width: 100%;
    }
  }

@media (max-width: 430px) {
    .mainpage .container {
      margin-left: 0;
      margin-right: 0;
      padding-left: 0;
      padding-right: 0;
    }
    .mainpage .producto1 .item {
        height: 150px;
        width: 100%;
    }
    .productos-container {
    padding: 0;
    width: 100%;
   }
    .col-min {
    padding: 10px;
   }
    
    .producto1 .item .content h5 { 
    margin-top: 10%;
   }
}
  /******buscar responsive**********/
  
  
  @media (max-width: 500px) {
  .buscarpage .producto1 .item {
        height: 170px;
        width: 100%;
    }
  }
@media (max-width: 430px) {
    .buscarpage .container {
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 0;
      padding-right: 0;
    }
    .buscarpage .producto1 .item {
        height: 150px;
        width: 100%;
    }
}
  /******perfil responsive**********/
  @media (max-width: 500px) {
  .perfilpage .producto1 .item {
        height: 170px;
        width: 100%;
    }
   .mainperf {
    margin-left: 0;
    margin-right: 0;
   }
   .profile img.image-lg {
    max-height: 270px;
   }
  }
@media (max-width: 430px) {
    .perfilpage .container {
      margin-left: 5px;
      margin-right: 5px;
      padding-left: 0;
      padding-right: 0;
    }
    .perfilpage .producto1 .item {
        height: 150px;
        width: 100%;
    }
   
}
/****** end perfil responsive**********/

@media screen and (min-width: 500px) {
    .producto1 .item {
    
    /min-width: 200px; 
}
}
@media screen and (max-width: 500px) {
.perf .thumbnail, .perf .container, .perf .container-fluid {
    /padding: 0;
    /margin: 0;
    /min-width: 500px;

}
}
@media screen and (min-width: 1000px) {
    .producto1 .item {
   /width: calc(230px - 2em);
    
}
}



/*col--768*/
@media (max-width: 768px) {
    .producto1 .item {
        height: 110px;
        width: 100%;;
    }
}
/*col--768*/
@media (max-width: 768px) {
    .producto1 .item {
        height: 200px;
        width: 200px;
    }
}
/*col-sm*/
@media (min-width: 768px) {
    .producto1 .item {
        height: 200px;
    }
   
}
@media (max-width: 992px) {
    .producto1 .item .content-bot h3 {
        margin-top: 0;
    }
}

/*col-md*/
@media (min-width: 992px) {
   .producto1 .item {
    height: 210px;
   } 

}
/*col-lg*/
@media (min-width: 1200px) {
    .producto1 .item {
        height: 230px;
    }
}


/***********boton ver*********/
.btn-ver {
  -webkit-box-shadow: 0px 1px 3px #666666;
  -moz-box-shadow: 0px 1px 3px #666666;
  box-shadow: 0px 1px 3px #666666;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  background: #3498db;
  padding: 3px 15px 3px 10px;
  border-top: solid rgb(217, 217, 217) 1px;
  border-right: solid rgb(217, 217, 217) 1px;
  border-bottom: solid rgb(217, 217, 217) 1px;
  text-decoration: none;
  width: 30%;
  margin-top: -1em;
  position: absolute;
}

.btn-ver:hover {
  background: #3cb0fd;
  text-decoration: none;
}
/*******************************/