@import url('https://fonts.googleapis.com/css?family=Cookie');
html {
   /min-width: 400px;
   overflow-x: hidden;
}
//body.modal-open { overflow:inherit; padding-right:inherit !important; }
body {
    /padding-top: 5px;
    padding-top: 65px;
    background-color: #E9EBEE;
    width: 100%;
    height: 100%;
    margin-top: -35px;
    overflow-x: hidden;
}
body.modal-open {
    overflow: hidden;
}
section {
    /*seccion header de local*/
    /height: calc(90% - 50px);
}


@media (max-width: 1200px) {
   #content {
    margin-right:  25px;
    margin-left: 25px;
}
}
@media (max-width: 900px) {
   #content {
    margin-right:  10px;
    margin-left: 10px;
    
}
}
@media (max-width: 500px) {
  
   #content {
    margin-left: 5px;
    margin-right: 5px;
   }
  }
/**************scrolling-nav***************/

.intro-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.about-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #eee;
}

.services-section {
    height: 100%;
    padding-top: 150px;
    text-align: center;
    background: #fff;
}

.contact-section {
    height: 100%;
    /padding-top: 50px;
    text-align: center;
    background: #f0f0f0;
    /z-index: -1001;
    position: relative;
}

/*------------pace progrss bar (minimal style)------------------*/
.pace {
  -webkit-pointer-events: none;
  pointer-events: none;

  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}

.pace-inactive {
  display: none;
}

.pace .pace-progress {
  background: #29d;
  position: fixed;
  z-index: 2000;
  top: 0;
  right: 100%;
  width: 100%;
  height: 2px;
}

/*----------------------------*/
/***************fin-scrolling-nav******************/



.iframe-modal {
    height: 480px;
    width: 480px;
    
}
iframe {
    overflow:hidden;
}
@media (min-width: 992px) {
    .modal-lg1 {
        width: 480px;
        height: 480px;
    }
}

/*********************sidebar-left***********************/
.headd {
    color: #000000;
}
.affix1-top1,
.affix1 {
    position: static;
}

@media (min-width: 979px) {
    #sidebar.affix-top {
        position: static;
        top: 50px;
        margin-left: -15px;
        /width: 32vh;
        opacity: 1;
        height: 100vh;
        background-color: #fafafa;
        border: 1px solid;
        border-color: #DFE0E4 ;
    }
    #sidebar .search {
       
        width: 60%;
        height: 6vh;
        margin-left: 6%
        
}
    
    .btn-search {
        height: 6vh;
        /margin-left: -3%;
        width: 20%;
        color: #fafafa;
        background-color: #292C2F;
        border: 0px; 
        border-top-right-radius: 6px;
        border-bottom-right-radius: 6px;
        
    }
    .sidebar-left {
        position: relative;
        background-color: #fafafa;
        height: 100%;
        border: 1px solid;
        padding-bottom: 40px;
        border-color: #DFE0E4 ;
        border-radius: 0.25rem;
       
    }
    
  
}

.sidebar-left li.active a {
    cursor: default;
        background-color: #5383d3; 
        color: #fff; 
}
.label-gray {
    font-size: 15px;
    background-color: #eee;
    color: #212121; 
    box-shadow: 1px 1px #CCC;
    margin-bottom: 3px;
}
.sidebar-left .glyphicon-tags {
    font-size: 12px;
}
.sidebar-left a {
    color: #5bc solid;
    background-color: #fafafa;
}

.sort .nasted-sort  {
  position: relative;
  display: block;
  margin-left: 20px;
  border-left: 5px solid #B2B2B2;
}
.sort li.active {
     border-left: 5px solid rgb(83, 131, 211);
     border-right: 0;
}
.sort li.active a {
    color: #5383d3;
    background-color: #fafafa;
}
.border-right {
    border-right: 1px solid #ddd;
}

.borders {
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    margin: -1px;
}

.border-left {
    border-left: 1px solid #ddd;
}

.bgnav {
    background-color: #fafafa;
}

.categorias {
     display: flex;
    flex-wrap: wrap;
    /max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.categorias li a{
    -webkit-border-radius:4px;
    border-radius:4px;
    background-color:#eee;
    color:#444;
    /line-height:22px;
    padding:1px 10px;
    display:inline-block;
    /max-width:85%;
    vertical-align:middle;
    margin: 3px;
    

}
.categorias li a:hover{
    text-decoration:none;
    background-color:#ddd
}

/*****articulos recom sidebar-left*****/
.art120 {
        margin: 10px;
    }
#artAffix.affix {
    position: fixed;
    top: 50px;

    left: 0;
    padding: 0;
    background-color: #fafafa;
    border: 1px solid;
    border-color: #DFE0E4 ;
}



div.social-float-parent {  background: #f8f8f8; position: relative; }
div#social-float { width: 200px; position: fixed; right: 10px; bottom: 10px; background: #777; }
div#social-float1 { width: 200px; position: fixed; right: 210px; bottom: 10px; background: #777; }
div#social-float2 { width: 200px; position: fixed; right: 410px; bottom: 10px; background: #777; }
div#social-float3 { width: 200px; position: fixed; right: 610px; bottom: 10px; background: #777; }
div#social-float4 { width: 200px; position: fixed; right: 810px; bottom: 10px; background: #777; }
/*****************fin-sidebar-left********************/

/********************sidebar-right*******************/
.sign {
        border: 1px solid;
    border-radius: 2px;
    /box-sizing: content-box;
    font-size: 12px;
    -webkit-font-smoothing: antialiased;
    font-weight: bold;
    padding: 5px 8px;
    margin: 8px 12px ;
    position: relative;
    text-align: center;
    text-shadow: none;
    vertical-align: bottom;
}
.recomended {
    border: 1px   solid;
    border-top: 0px solid;
    border-color: rgb(209, 208, 208) ; 
    background-color: #F0F0F0;
    /height: 6.5vh;
    /box-shadow: 0 1px 3px;
    text-align: center;
      
}

/*alerta-- cuidado con este que es global*/
.thumbnail {
    border-radius: 0.25rem;
    padding: 5px 4px;
    margin-right: -px;
         border: 1px solid;
    border-color: #DFE0E4 ;
    background: #FAFAFA;

}
/*fin alerta*/
.textr {
    text-align: left;
    
}

.recm {
    width: 300px;
}

.thumb {
    background-color: #fafafa;
    padding: 8px 8px;
    /margin-right: -15px;
     border: 1px solid;
    border-color: #DFE0E4 ;
    width: 300px; /*le da el ancho al recomendado*/
    margin-bottom: 10px;
}
.line    {
    color: rgb(119, 119, 119) ;
}
#sidebar-right.affix-top {
        position: static;
        opacity: 1;
        color: #5bc solid;
        z-index: 000;
    }

    #sidebar-right1.affix {
        position: fixed;
        top: 50px;
        /opacity: 1;
         /color: #5bc solid; 
    }


  .nopadding-md-3 [class*="col-"] {
    padding: 0;
}
@media (max-width: 1267px) {
   .thumb {
    width: 280px;
   }
}

/*****************fin-sidebar-right*******************/



#sec0 {
    /background-color: #FAFAFA;
    /margin-left: 13px;
}

@media (min-width: 1267px) {
    #sec0 {
        /margin-left: 15px;
        /margin-right: 15px;
    }
}

/*clases del index*/

.arrow {
    color: #fff;
    text-align: center;
    margin-bottom: -18px;
    text-shadow: 1px 1px 0 rgba(0,0,0,.75);  
    font-size: 50px;
    margin-left: -4px;
    
}



/* Custom Buttons*/
.btn.btn-lg {padding: 10px 40px;}
.btn.btn-hero,
.btn.btn-hero:hover,
.btn.btn-hero:focus {
    color: #f5f5f5;
    background-color: #1abc9c;
    border-color: #1abc9c;
    outline: none;
    /margin: 20px auto;
}




/********************seccion mapa********************/
.topmap {
   /margin-top: -40px;
   height: 128px;
   width: 128px;
   background: url('/img/map1.png')  center center ;
    margin-left: 10px;
}

.location {
    height: 81vh;
    background-color: #fafafa;
    /top: 25px;
    padding: 75px 35px;
    /width: auto;
    z-index: 901;
   /box-shadow: 0px 1px 1px;
       border-right: 1px solid;
    border-color: #DFE0E4;
}
.location address {
   width: 150px;
    border: 0 rgb(183, 184, 185) solid;
    
    /border-left-width: 5px;
   /box-shadow: -3px 0px 5px -3px 
}
#map-container { 
    height: 350px;
    margin: 10px;
    box-shadow: 1px 1px 3px ;
          
         }
@media (max-width: 880px) {
 #map-container { 
    height: 350px;
    margin-top: -20px;
    box-shadow: 1px 1px 3px ;
}
}

.footer {
    display: block;
    z-index: 1000;
}

/*******************fin seccion mapa****************************/

/***********************modal foto perfil************************/
.imagenesNegocios {
    display: inline-block;
    margin: 0 1em;
   // left: 10%;
    font:15px/1.3 'Open Sans', sans-serif;
    color: #5e5b64;
    text-align:center;
}
.imagenesNegocios form {
   background-color: #61a1bc;
        border-radius: 2px;
        box-shadow: 0 1px 1px #ccc;
        width: 400px;
        height: 470px;
        padding: 10px 60px;
        margin: 5px ;
}
.imagenesNegocios button {
    width: 100%;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
}
.imagenesNegocios div {
        padding: 10px 0px;
        background-color:#e35885;
        margin-bottom:8px;
        box-shadow:0 1px 1px rgba(0,0,0,0.1);
        cursor:pointer;
}

 div + .input + .file [type=file]{
    //background-color:#57CB33;
    cursor: inherit;
    display: block;
    font-size: 999px;
    filter: alpha(opacity=0);
    min-height: 100%;
    min-width: 100%;
    opacity: 0;
    position: absolute;
    right: 0;
    text-align: right;
    top: 0;
}

.imagenesNegocios div + .input + .file {
    padding: 25px 0px;
    overflow: hidden;
    position: relative;
}



.imagenesNegocios div + .input + .file {
   
    /border-radius: .5em;
    float: right;
    width: 100%;
}

.imagenesNegocios div + .input + .file [type=file] {
    cursor: pointer;
}

#blah {
    /border: 1px solid;
    /margin-top: 15px;
    /width: 150px;
    /height: 150px;
    border-radius: 5px;
}
.blah {
    height: 200px;
    width: 100%;
}
.labelf {
    font-size: 18px;
}
/************************fin modal foto perfil*************************/


/*===================
=====Figure=========
===================*/
figure {
  position: relative;
  overflow: hidden; }
  figure img {
    width: 100%; }



/*************btn-ofersec****************/
/*===================
=====Buttons=========
===================*/
.btn {
  /-webkit-border-radius: 0;
  /-moz-border-radius: 0;
  /-ms-border-radius: 0;
  /border-radius: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  /border: none;
  text-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.25);
  /*socials*/ }

  .btn.round {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px; }
  .btn.semi-circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px; }
/*   .btn.btn-default {
    color: #ffffff;
    background-color: #0cd4d2;
    opacity: 1; }*/
   /* .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
      color: #ffffff;
      background-color: #A5A5A5;
      opacity: .9;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none;
      /border-color: #A5A5A5; } */

.btn.btn-default1 {
    color: #ffffff;
    background-color: #0cd4d2;
    opacity: 1;
    height: 59px;
    border-top
    /left:120%;
}
    .btn.btn-default1:hover, .btn.btn-default1:active, .btn.btn-default1:focus {
      color: #ffffff;
      background-color: #0cd4d2;
      opacity: .8;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }



@media (max-width: 768px) {
  .btn-responsive {
    padding:2px 4px;
    font-size:80%;
    line-height: 1;
    border-radius:3px;
  }
}

@media (min-width: 769px) and (max-width: 992px) {
  .btn-responsive {
    padding:4px 9px;
    font-size:90%;
    line-height: 1.2;
  }
}

/********fin media querys********/


/**************alert success animation (de recargar pagina)*************/

/* The snackbar - position it at the bottom and in the middle of the screen */
#snackbar {
    visibility: hidden; /* Hidden by default. Visible on click */
    min-width: 250px; /* Set a default minimum width */
    margin-left: -125px; /* Divide value of min-width by 2 */
    background-color: #dff0d8; /* Black background color */
    color: rgb(60, 118, 75); /* White text color */
    border-color: rgba(60, 118, 61, .5);
    border: 1px solid ;
    text-align: center; /* Centered text */
    border-radius: 4px; /* Rounded borders */
    padding: 16px; /* Padding */
    position: fixed; /* Sit on top of the screen */
    z-index: 1; /* Add a z-index if needed */
    left: 83%; /* Center the snackbar */
    top: 100px; /* 30px from the bottom */

}
#snackbar a {
    color: inherit;
}
/* Show the snackbar when clicking on a button (class added with JavaScript) */
#snackbar.show {
    visibility: visible; /* Show the snackbar */

/* Add animation: Take 0.5 seconds to fade in and out the snackbar. 
However, delay the fade out process for 2.5 seconds */
    -webkit-animation: fadein 1s, fadeout 1s 7s;
    animation: fadein 1s, fadeout 1s 7s;
}

/* Animations to fade the snackbar in and out */
@-webkit-keyframes fadein {
    from {top: 0; opacity: 0;} 
    to {top: 100px; opacity: 1;}
}

@keyframes fadein {
    from {top: 0; opacity: 0;}
    to {top: 100px; opacity: 1;}
}

@-webkit-keyframes fadeout {
    from {top: 100px; opacity: 1;} 
    to {top: 0; opacity: 0;}
}

@keyframes fadeout {
    from {top: 100px; opacity: 1;}
    to {top: 0; opacity: 0;}
}

/*************************fin jumbo nuevo*******************/

/*********************************tabla-horarios*************************************/
.place-schedule {
    margin-bottom: 1em
}

@media screen and (max-width: 767px) {
    .place-schedule {
        padding: 0 15px
    }
}

.place-schedule .schedule-tab {
    border: 1px solid #eee
}

.place-schedule .schedule-tab .nav-tabs {
    border: 0;
    background-color: #eee;
    padding: 0 15px
}

@media screen and (max-width: 767px) {
    .place-schedule .schedule-tab .nav-tabs {
        padding: 0
    }
}

.place-schedule .schedule-tab .nav-tabs li {
    padding: 0;
    margin: 0;
    border: 0;
    font-size: 14px;
    width: 1%;
    display: table-cell
}

@media screen and (max-width: 767px) {
    .place-schedule .schedule-tab .nav-tabs li {
        font-size: 1em
    }
}

.place-schedule .schedule-tab .nav-tabs li.active a {
    color: #1d96c5;
    border: 0;
    background-color: inherit;
    border-bottom: 2px solid #1d96c5
}

.place-schedule .schedule-tab .nav-tabs li a {
    padding: 8px 0px;
    margin: 0px;
    display: block;
    border: 0;
    border-radius: 0;
    color: #555
}

.place-schedule .schedule-tab .nav-tabs li a:hover {
    color: #1d96c5
}

.place-schedule .schedule-tab .nav-tabs li a span {
    display: inline-block
}

.place-schedule .schedule-tab .nav-tabs li a span.is-mobile {
    display: none
}

@media screen and (max-width: 767px) {
    .place-schedule .schedule-tab .nav-tabs li a span {
        display: none
    }
    .place-schedule .schedule-tab .nav-tabs li a span.is-mobile {
        display: inline-block
    }
}

.place-schedule .tab-content {
    padding: 4px;
    text-align: center
}

.place-schedule .tab-content .tab-pane .day-label {
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 8px;
    margin-top: 4px;
    text-transform: uppercase
}

.place-schedule .tab-content .tab-pane .schedule {
    padding-top: 10px;
    padding-bottom: 10px
}

.place-schedule .tab-content .tab-pane .schedule.divider:nth-of-type(1) {
    border-right: 1px solid #eee
}

@media screen and (max-width: 767px) {
    .place-schedule .tab-content .tab-pane .schedule.divider:nth-of-type(1) {
        border-right: 0
    }
}

.place-schedule .tab-content .tab-pane .schedule span.time {
    font-size: 16px
}

.place-schedule .tab-content .tab-pane .schedule-group {
    padding-bottom: 8px
}

.place-schedule .tab-content .tab-pane .schedule-group:nth-of-type(1) {
    border-right: 1px solid #eee
}

@media screen and (max-width: 767px) {
    .place-schedule .tab-content .tab-pane .schedule-group:nth-of-type(1) {
        border-right: 0
    }
}

.place-schedule .tab-content .tab-pane .schedule-group .schedule {
    width: 100%;
    padding-top: 2px;
    padding-bottom: 2px
}

.infoComponent {
    font-family: "Open Sans", sans-serif;
    font-weight: 400;
    font-weight: 300;
    color: #23232f;
    margin: 1em auto 0em
}

.infoComponent hr {
    border-color: #dddcdd;
    margin: 0;
    width: 100%
}

.infoComponent ul.top-info {
    margin-top: 12px;
    padding: 0
}

.infoComponent ul.top-info li {
    text-align: center;
    line-height: 1.4em;
    font-size: 1.1em;
    margin-bottom: 10px
}

.infoComponent ul.top-info li.callToAction a:link {
    font-size: 0.8em;
    display: initial
}
.col-centered{
    float: none;
    margin: 0 auto;
}
/************************************fin-tabla-horarios************************************/
/***********************************product-upload************************/

  .thumbimg { 
    height: 60px;
    max-width: 60px;
    background-color: rgb(233, 235, 238);
    border: 3px solid rgb(233, 235, 238);
    border-radius: 3px;
    margin: 10px 5px 10px 0;
  }
  //.input{ 
    display: none;
    
}
  .labUp { 
      
      -webkit-appearance: button;
      -moz-appearance: button;
      appearance: button;
      line-height: 16px;
      padding: .2em .4em;
      margin: .2em;
}
  .px{
  width: 950px;
}
.btnmore {
  float: right;
  //position: fixed;
  //right: 365px;
}

.btnminus {
  float: right;
  //position: fixed;
  //right: 323px;
}

.mleft {
  margin-left: -15px;
}

.grdient {
  background: -webkit-linear-gradient(left, white 68%, gray 32%);
  background: -o-linear-gradient(left, white 68%, gray 32%);
  background: linear-gradient(to right, white 68%, gray 32%);
}
.close {
  position: absolute;
  right: 3px;
  top: 0px;
  font-size: 26px;
  transition: all .1s ease-in-out;
}
.close:hover {
    color: red;
  transform: scale(1);
}
/***********************************fin-product-upload****************************/

/*****************************modal-product***********************/
.pclose {
  position: absolute;
  right: 7px;
  top: 7px;
  transition: all .05s ease-in-out;
 
}
.pclose:hover {
    color: red;
    //top: 6px;
   transform: scale(1);
}
.carousel-inner {
  position: relative;
  width: 300px;
  max-height: 400px;
  margin-bottom: 0;
 
 /* -webkit-box-shadow: 0px 2px 2px #D9D9D9;
    -moz-box-shadow: 0px 2px 2px #D9D9D9;
    -ms-box-shadow: 0px 2px 2px #D9D9D9;
    box-shadow: 0px 2px 2px #D9D9D9; */
  }
.carousel-inner img {
 
  width: 300px;
 
 
  }
.carousel-inner .thumbnail {
    overflow: visible;
  width: 300px;
 
 
  }
#carousel-custom {
    left: 0;
    margin: 0px auto;
    width: 350px;
}
#carousel-custom .carousel-indicators {
    //margin: 10px 0 0;
    margin-top: 20px;
    overflow: auto;
    position: relative;
    text-align: left;
    white-space: nowrap;
    width: 100%;
    overflow:hidden;
    left: 57px;
    top: 0px;
}
#carousel-custom .carousel-indicators li {
    //background-color: transparent;
    -webkit-border-radius: 0;
    border-radius: 0;
    display: inline-block;
    height: auto;
    margin: 0 !important;
    width: auto;
    

}
#carousel-custom .carousel-indicators li img {
    display: block;
    /opacity: 0.5;
    /display: block;
    overflow: hidden;
      -webkit-background-clip: padding-box;
background-clip: padding-box;
border: 1px solid #B1C3DA;
border-radius: 5%
}
#carousel-custom .carousel-indicators li.active img {
    opacity: 1;
}
#carousel-custom .carousel-indicators li:hover img {

    transform: scale(1.08);
    
}
#carousel-custom .carousel-outer {
    position: relative;
}
.carousel-indicators li img {
  height: 66px;
  width: 52px;
    transition: all .1s ease-in-out;}


  .social-login-btn {
  margin: 5px;
  width: 20%;
  font-size: 250%;
  padding: 0;
}

.marg{
    padding: 0;
    margin: 0; 
}

.social-google {
  background-color: #da573b;
  border-color: #be5238;
}
.social-google:hover{
  background-color: #be5238;
  border-color: #9b4631;
}

.social-twitter {
  background-color: #1daee3;
  border-color: #3997ba;
}
.social-twitter:hover {
  background-color: #3997ba;
  border-color: #347b95;
}

.social-facebook {
    position: relative;
    top: 3px;
  background-color: #4c699e;
  border-color: #47618d;
}
.social-facebook:hover {
  background-color: #47618d;
  border-color: #3c5173;
}

.social-linkedin {
  background-color: #4875B4;
  border-color: #466b99;
}
.social-linkedin:hover {
  background-color: #466b99;
  border-color: #3b5a7c;
}

._4-i0{
    background-color:#f6f7f9;
    border-bottom:1px solid #e5e5e5;
    border-radius:3px 3px 0 0;
    color: #1d2129;
    font-weight:bold;
    line-height:19px;
    padding:10px 12px
    }
 #bordd {
   border-radius:3px 3px 0 0;  
 }


/**********************************************/
/*******************comercios**********************/
.comercio-grid {
     display: flex;
    flex-wrap: wrap;
    /max-width: 1000px;
    justify-content: space-between;
    margin-left: 5px;
    margin-right: 5px;
    position: relative;
}
.comercio-card .card {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #fff;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  transition: all 0.3s ease-in; 
  margin-bottom: 15px;
  /width: calc(50% - 5px);
  margin: 5px;
  
}
.comercio-card {
    transition: all 0.3s ease-in; 
}
@media (max-width: 640px) {
    .comercio-card  {
    width: calc(50% - 5px);
    }
    .comercio-card .card {
    /max-width: calc(100% - 200px);
    /max-height: 200px;
    }
    .comercio-card .card-img-top {
  
    height: 170px;
    }
}
@media (min-width: 640px) {
    .comercio-card  {
    width: calc(50% - 5px);
    }

}
@media (max-width: 425px){
    .comercio-card  {
    width: calc(100% - 0px);
    }
}
@media (min-width: 900px) {
    .comercio-card  {
     width: 33.33% ;
    }
    .comercio-card .card-img-top {
  
    height: 170px;
    }

}

.comercio-card .card:hover {
    border-color: rgba(29, 150, 197, 1.0);
    cursor: pointer;
    }



.comercio-card .card-img-top {
  border-top-right-radius: calc(0.25rem - 1px);
  border-top-left-radius: calc(0.25rem - 1px);
  max-height: 200px;
}
.comercio-card .card-block {
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  padding: 1.25rem;
}

.comercio-card .card-title {
  margin-bottom: 0.75rem;
  text-align: center;
  color: black;
}

.comercio-card .card-text:last-child {
  margin-bottom: 0;
  text-align: center;
  color: #4f4f4f;
}

.comercio-card a:link {text-decoration:none; } /* Link no visitado*/
.comercio-card a:visited {text-decoration:none; } /*Link visitado*/
.comercio-card a:active {text-decoration:none;  } /*Link activo*/
.comercio-card a:hover {text-decoration:nounderline; } /*Mause sobre el link*/  






.comercio .bshadow {
    /border-bottom: 1px solid #ccc;
    /border-right: 1px solid #ccc;
}
.comercio .navbar-default {
background: #FAFAFA;
border-top:0;
border-color: #DFE0E4;
border-radius: 0;
border-left: 0;
border-right: 0;
}
.comercio .navbar-nav {
  float: none;
  text-align: center;
}

.comercio .navbar-nav li {
  float: none;
  display: inline-block;

}
.comercio .navbar-nav  .active a{
    cursor: default;
        background-color: #5383d3; 
        color: #fff;
}
.comercio .navbar-nav  .active a:hover{
    cursor: default;
        background-color: #5383d3; 
        color: #fff;
}
.comercio .navbar-nav li:hover {
  background-color: #BABABA;

}
.comercio .navbar-nav .dropdown-menu li {
    width: 100%;
}

.comercio input[type=text] {
    position: absolute;
    top: -30px;
    width: 50px;
    box-sizing: border-box;
    border: 0px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
    background-color: inherit;
    background-image: url('../img/search.png');
    background-position: 5px 10px; 
    background-repeat: no-repeat;
    padding: 14px 20px 14px 40px;
    cursor: pointer;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
.comercio input[type=text]:focus {
    background-color: white;
    cursor: grab;
    width: 200px;
}
/*********************fin-comercios****************************/
/***************************main-page*****************************/
.mainpage .header .jumbotron {
    background-color: inherit;
    background-image:url('../img/rain_cup.jpg') ;
    background-position: center -250px; 
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
     box-shadow: 1px 2px 1px #ccc;
}
.mainpage .header .jumbotron .jumbox  {
    margin: 0 auto;
    /margin-top: 0 auto;
    /background-color: rgba(248, 248, 248, 0.1);
    /height: 500px;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 150px;
    padding-bottom: 10px;
    border-radius: 5px;
    /box-shadow:  1px 2px rgba(204, 204, 204,0.1);
    
}
    .mainpage .jumbotron {
    background-color: #F8F8F8;
    height: 100px;
    text-align: center;
    padding: 1px;
    /box-shadow:  1px 1px #ccc;
    border: 1px solid #ddd;
}
.mainpage .comerjum .jumbotron {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    margin-bottom: 5px;
}
.mainpage .title {
    margin-top: 0;
    font: normal, 'roboto';
   
   
    /letter-spacing: 1px;
    font-weight: 400;
   / display: inline-block;
   / margin-bottom: 20px;
    font-size: 37px;
    /padding-bottom: 10px;
}

.mainpage .artDes {
    margin-top: 25px;
    
}
.mainpage .artDes .jumbotron { 
    margin-bottom: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}
@media (max-width: 500px;) {
    .mainpage .artDes .jumbotron {
    margin-bottom:  50px;
}
}
.mainpage #sec0 {
    margin-left: 0;
}
.mainpage .proDes {
    background-color: #F8F8F8;
    /height: 500px;
    width: 100%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 20px;
    border: 1px solid rgba(204, 204, 204, 0.7);
    border-radius: 3px;
}

.jumbox .footer-distributed1 h3 {
    /*-----logo navbar tuciudad---------*/
    color: #ffffff;
    font: normal 75px 'Cookie', cursive;
    text-shadow: 1px 1px 2px rgba(1, 1, 1, 0.9);
    /margin: -75px;
    /margin-top: 10px;
    vertical-align: middle;
    z-index: 1000;
    padding: 0;
    margin-bottom: 0;
}
.logoLink a:link {text-decoration:none; } /* Link no visitado*/
.logoLink a:visited {text-decoration:none; } /*Link visitado*/
.logoLink a:active {text-decoration:none;  } /*Link activo*/
.logoLink a:hover {text-decoration:nounderline; } /*Mause sobre el link*/  
.jumbox .footer-distributed1 h3 span {
    color: #5383d3;
    font: normal 75px 'Cookie', cursive;
}
.cookie co {
    /*-----logo navbar tuciudad---------*/
    color: #ffffff;
    font: normal 42px 'Cookie', cursive;
    text-shadow: 1px 2px 2px rgba(1, 1, 1, 0.9);
}

.cookie co span {
    color: #5383d3;
    font: normal 42px 'Cookie', cursive;
}

.opens {
    text-decoration: inherit;
     text-shadow: 1px 2px 2px rgba(1, 1, 1, 0);
    color: rgb(51, 51, 51);
    font-family: normal, 'Helvetica';
    font-weight: 400;
    font-size: 37px;
}

.jumbox .titlesub {
    color: #5383d3;
    font-family: 'Open Sans', sans-serif;
    font-style: oblique;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.9);
}

/****************************fin-main-page********************************/

/**************************************artPage***************************************/
.artPage .header .jumbotron {
    background-color: inherit;
    background-image:url('../img/lantern.jpg') ;
    background-position: center center; 
    background-repeat: no-repeat;
    height: 300px;
    text-align: center;
    box-shadow: 1px 2px 1px #ccc;
}
.artPage .header .jumbotron .jumbox  {
    margin: 0 auto;
    margin-top: 0 auto;
    background-color: rgba(248, 248, 248, 0.1);
    /height: 500px;
    width: 50%;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 100px;
    padding-bottom: 10px;
    padding-top: 10px;
    border-radius: 5px;
    
}
    .artPage .jumbotron {
    background-color: #F8F8F8;
    height: 100px;
    text-align: center;
    padding: 1px;
    box-shadow:  1px 1px #ccc;
}
.artPage .title {
    margin-top: 0;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
   / display: inline-block;
   / margin-bottom: 20px;
    font-size: 43px;
    /padding-bottom: 10px;
    color: #fafafa;
    text-shadow: 1px 1px 1px rgba(1, 1, 1, 0.9);
}
/*****map-perfil***/
  
    .tittle-map {
      position: absolute;
      top: 20px;
      left: 47%;
      font-weight: 300;
      font-family: normal, 'roboto';
    }
    .tittle-contacto{
      font-family: normal, 'roboto';
      position: absolute;
      font-weight: 300;
      top: 20px;
      margin-left: 15px;
    }

/*******paginador*********/

  ul.pagination li a {
    color: rgba(0, 0 ,0 , 0.54);
}
/***********paginator*************/
ul.pagination li.active a {
    /background-color: #DCE47E;
    color: #FFF;
    font-weight: bold;
    cursor: default;
}
ul.pagination .disabled:hover a {
    background: none;
}

.paginator {
    text-align: center;
}

.paginator ul.pagination li {
    float: none;
    display: inline-block;
}

.paginator p {
    text-align: right;
    color: rgba(0, 0 ,0 , 0.54);
}