/*****************Offert-Countdown**********************/
.productof {
  position: relative;
    top: 0px;
    left: 0px;
    display: inline-block;
    max-width: 220px;
    max-height: 250px;
    margin: 10px 5px;
  padding: 0;
  background-color: transparent;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 10px; 
    
}
@media screen and (max-width: 640px) {
    .productof {
    /width: 100%;
    /height: 100%;
    width: 160px;
    height: 180px;
    margin: 0px 0px 16px 5px;
    }
    .productof h1 {
      /margin: 30px 0px 0px 10px; ;
    }
    .productof.store {
    margin-bottom: 20px;
    border: none; }
    
}
  .productof.store {
    margin-bottom: 20px;
    border: none; }
    .productof.store .header {
      position: relative; }
      .productof.store .header .badges {
        font-size: 12px; }
        .productof.store .header .badges .product-badge {
          padding: 2px 10px;
          position: absolute;
          z-index: 99; }
          .productof.store .header .badges .product-badge.top {
            top: 10px; }
          .productof.store .header .badges .product-badge.right {
            right: 10px; }
          .productof.store .header .badges .product-badge.bottom {
            bottom: 10px; }
          .productof.store .header .badges .product-badge.left {
            left: 10px; }
      .productof.store .header figure img.front {
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out; }
      .productof.store .header figure img.back {
        position: absolute;
        top: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
      .productof.store .header figure.layer::after {
        content: ' ';
        position: absolute;
        background-color: rgba(229, 94, 90, 0.8);
        top: 0;
        left: 0;
        bottom: 0;
        right: 0;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.1s ease-in;
        -moz-transition: all 0.1s ease-in;
        -ms-transition: all 0.1s ease-in;
        -o-transition: all 0.1s ease-in;
        transition: all 0.1s ease-in; }

      .productof.store .header figure.zoom-in img {
        width: 100%;
        -webkit-transition: all 0.2s ease-in;
        -moz-transition: all 0.2s ease-in;
        -ms-transition: all 0.2s ease-in;
        -o-transition: all 0.2s ease-in;
        transition: all 0.2s ease-in; }
      .productof.store .header .countdown-product {
        position: absolute;
        left: 0;
        bottom: 0;
        width: 100%;
        margin: 0;
        padding: 5px 0;
        background-color: rgba(0, 0, 0, 0.4);
        display: table; }
        .productof.store .header .countdown-product li {
          display: table-cell;
          border-right: 1px solid rgba(255, 255, 255, 0.2);
          color: #ffffff;
          text-align: center; }

          .productof.store .header .countdown-product li p {
            margin-bottom: 0; }
          .productof.store .header .countdown-product li:last-child {
            border-right: none; }
    .productof.store:hover .countdown-product {
      visibility: hidden; }
    .productof.store .caption {
      padding: 5px 0;
      color: #878c94; }
      .productof.store .caption h6 {
        margin-bottom: 5px; }
      .productof.store .caption .price {
        margin: 0 0 5px 0; }
        .productof.store .caption .price .amount {
          font-size: 20px;
          font-family: 'Dosis', sans-serif; }
          .productof.store .caption .price .amount.off {
            text-decoration: line-through;
            margin-right: 10px;
            font-size: 14px; }
    .productof.store:hover .header figure img.front {
      visibility: hidden;
      opacity: 0; }
    .productof.store:hover .header figure img.back {
      visibility: visible;
      opacity: 1; }
    .productof.store:hover .header figure::after {
      visibility: visible;
      opacity: 1; }
    .productof.store:hover .header figure.zoom-in img {
      -ms-transform: scale(1.1);
      /* IE 9 */
      -webkit-transform: scale(1.1);
      /* Chrome, Safari, Opera */
      transform: scale(1.1); }
    .productof.store.style1 .header {
      border: 1px solid rgba(0, 0, 0, 0.03); }
      .productof.store.style1 .header .icons {
        position: absolute;
          margin-top: -10px;
        top: 30%;
        left: 0;
        -ms-transform: translateY(-50%);
        /* IE 9 */
        -webkit-transform: translateY(-50%);
        /* Chrome, Safari, Opera */
        transform: translateY(-50%);
        width: 100%;
        text-align: center;
        visibility: hidden;
        opacity: 0;
        z-index: 99;
        -webkit-transition: all 0.2s ease-in-out;
        -moz-transition: all 0.2s ease-in-out;
        -ms-transition: all 0.2s ease-in-out;
        -o-transition: all 0.2s ease-in-out;
        transition: all 0.2s ease-in-out; }
.productof.store.style1 .header .icons h1 {
       
      
    color:  rgba(255, 248, 224, 0.93);
       }
.productof.store.style1 .header .icons h3 {
       
      
    color:  rgba(255, 248, 224, 0.93);
    
       }
        .productof.store.style1 .header .icons .icon {
          background-color: #ffffff;
          width: 60px;
          height: 35px;
          line-height: 35px;
          display: inline-block;
          -webkit-box-shadow: rgba(0, 0, 0, 0.04) 0 1px 3px;
          -moz-box-shadow: rgba(0, 0, 0, 0.04) 0 1px 3px;
          -ms-box-shadow: rgba(0, 0, 0, 0.04) 0 1px 3px;
          box-shadow: rgba(0, 0, 0, 0.04) 0 1px 3px; }
    .productof.store.style1:hover .header .icons {
      top: 50%;
      visibility: visible;
      opacity: 1; }
    .productof.store.style2 {
      border: 1px solid rgba(0, 0, 0, 0.08); }
      .productof.store.style2 .icons {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.3);
        text-align: center;
        height: 0px;
        display: table;
        visibility: hidden;
        opacity: 0;
        -webkit-transition: all 0.1s ease-in-out;
        -moz-transition: all 0.1s ease-in-out;
        -ms-transition: all 0.1s ease-in-out;
        -o-transition: all 0.1s ease-in-out;
        transition: all 0.1s ease-in-out;
        z-index: 99; }
        .productof.store.style2 .icons .icon {
          padding: 0 5px;
          color: #ffffff;
          display: table-cell;
          vertical-align: middle;
          border-right: 1px solid rgba(255, 255, 255, 0.2); }
          .productof.store.style2 .icons .icon:hover, .productof.store.style2 .icons .icon:active, .productof.store.style2 .icons .icon:focus {
            color: #0cd4d2; }
          .productof.store.style2 .icons .icon:last-child {
            border: none; }
      .productof.store.style2 .caption {
        padding: 5px 10px; }
      .productof.store.style2:hover .icons {
        height: 40px;
        background-color: rgba(0, 0, 0, 0.5);
        visibility: visible;
        opacity: 1; }
  /******************contextual-backgrounds************************/
/*Contextual Backgrounds*/
.primary-background {
  background-color: #0cd4d2;
  color: #ffffff; }

.light-background {
  background-color: #e5e5e5;
  color: #35404f; }

.gray-background {
  background-color: #878c94;
  color: #ffffff; }

.dark-background {
  background-color: #35404f;
  color: #ffffff; }

.success-background {
  background-color: #5ed35e;
  color: #ffffff; }

.info-background {
  background-color: #64d5f6;
  color: #ffffff; }

.warning-background {
  background-color: #fcbe66;
  color: #ffffff; }

.danger-background {
  background-color: #e55e5a;
  color: #ffffff; }

/*corners*/
.round {
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  border-radius: 6px; }

.semi-circle {
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  border-radius: 25px;
    top: 10px;
}


/*===================
=====Sections========
===================*/
.section {
  position: relative;
  padding: 70px 0; }

.section-medium {
  position: relative;
  padding: 140px 0; }

.section-big {
  position: relative;
  padding: 280px 0; }

.white-backgorund {
  background-color: #ffffff; }

.light-backgorund {
  background-color: #e5e5e5; }

.image-background {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  color: #e5e5e5; }
  .image-background.fixed {
    background-attachment: fixed; }

.layer-white::before {
  content: ' ';
  background-color: rgba(255, 255, 255, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

.layer-dark::before {
  content: ' ';
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0; }

/*===================
=====Figure=========
===================*/
figure {
  position: relative;
  overflow: hidden; }
  figure img {
    width: 100%; }
  figure figcaption {
    color: #878c94;
    font-size: 13px;
    padding: 5px 0; }
  figure.zoom-in img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  figure.zoom-in:hover img {
    -ms-transform: scale(1.15);
    /* IE 9 */
    -webkit-transform: scale(1.15);
    /* Chrome, Safari, Opera */
    transform: scale(1.15); }
  figure.zoom-out img {
    width: 100%;
    -webkit-transition: all 0.3s ease-in;
    -moz-transition: all 0.3s ease-in;
    -ms-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in; }
  figure.zoom-out:hover img {
    -ms-transform: scale(0.9);
    /* IE 9 */
    -webkit-transform: scale(0.9);
    /* Chrome, Safari, Opera */
    transform: scale(0.9); }

/*===================
===Carousels======
===================*/
.owl-carousel {
  position: relative; }
  .owl-carousel .item {
    margin-left: 4px;
    margin-right: 4px; }
  .owl-carousel.owl-theme .owl-nav {
    margin: 0; }
    .owl-carousel.owl-theme .owl-nav div {
      position: absolute;
      top: 50%;
      -ms-transform: translateY(-50%);
      /* IE 9 */
      -webkit-transform: translateY(-50%);
      /* Chrome, Safari, Opera */
      transform: translateY(-50%);
      background-color: transparent;
      display: inline-block;
      text-align: center;
      zoom: 1;
      padding: 0;
      width: 30px;
      height: 70px;
      line-height: 70px;
      font-size: 70px;
      opacity: 0;
      visibility: hidden;
      -webkit-transition: all 0.2s ease-in-out;
      -moz-transition: all 0.2s ease-in-out;
      -ms-transition: all 0.2s ease-in-out;
      -o-transition: all 0.2s ease-in-out;
      transition: all 0.2s ease-in-out;
      -webkit-border-radius: 0;
      -moz-border-radius: 0;
      -ms-border-radius: 0;
      border-radius: 0; }
      .owl-carousel.owl-theme .owl-nav div.owl-prev {
        position: absolute;
        left: 0px;
        color: #35404f; }
      .owl-carousel.owl-theme .owl-nav div.owl-next {
        position: absolute;
        right: 0px;
        color: #35404f; }
  .owl-carousel.owl-theme .owl-dots .owl-dot span {
    width: 12px;
    height: 12px;
    margin: 5px;
    background-color: rgba(0, 0, 0, 0.08); }
  .owl-carousel.owl-theme .owl-dots .owl-dot.active span {
    background-color: #0cd4d2; }
  .owl-carousel.owl-theme.slider .owl-nav div.owl-prev {
    position: absolute;
    left: 30px;
    color: #ffffff; }
  .owl-carousel.owl-theme.slider .owl-nav div.owl-next {
    position: absolute;
    right: 30px;
    color: #ffffff; }
  .owl-carousel.owl-theme.slider .owl-dots {
    position: absolute;
    bottom: 10px;
    left: 0;
    width: 100%; }
    .owl-carousel.owl-theme.slider .owl-dots .owl-dot span {
      background-color: #e5e5e5; }
    .owl-carousel.owl-theme.slider .owl-dots .owl-dot.active span {
      background-color: #0cd4d2; }
  .owl-carousel:hover.owl-theme .owl-nav div {
    opacity: 0.6;
    visibility: visible;
    background-color: transparent; }
    .owl-carousel:hover.owl-theme .owl-nav div.owl-prev {
      position: absolute;
      left: -10px; }
    .owl-carousel:hover.owl-theme .owl-nav div.owl-next {
      position: absolute;
      right: -10px; }
  .owl-carousel:hover.owl-theme.slider .owl-nav div {
    opacity: 0.6;
    visibility: visible;
    background-color: transparent; }
    .owl-carousel:hover.owl-theme.slider .owl-nav div.owl-prev {
      position: absolute;
      left: 20px; }
    .owl-carousel:hover.owl-theme.slider .owl-nav div.owl-next {
      position: absolute;
      right: 20px; }

/*********countdownindex*********/
.countdown {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .countdown li {
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 70px;
    padding: 7px 0;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
    -ms-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px; }
    .countdown li span {
      display: block;
      font-weight: 400;
      font-size: 20px;
      color: #35404f; }
    .countdown li p {
      margin: 0;
      font-size: 14px; }

.countdown-coming-soon {
  margin: 0;
  padding: 0;
  list-style-type: none; }
  .countdown-coming-soon li {
    text-align: center;
    margin-right: 10px;
    margin-bottom: 10px;
    background-color: #ffffff;
    width: 100px;
    padding: 7px 0;
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    -webkit-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
    -moz-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
    -ms-box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px;
    box-shadow: rgba(0, 0, 0, 0.08) 0 1px 3px; }
    .countdown-coming-soon li span {
      display: block;
      font-weight: 400;
      font-size: 20px;
      color: #35404f; }
    .countdown-coming-soon li p {
      margin: 0;
      font-size: 14px;
      color: #878c94; }


/*************btn-ofersec****************/
/*===================
=====Buttons=========
===================*/
.btn {
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  border-radius: 0;
  -webkit-transition: all 0.1s ease-in;
  -moz-transition: all 0.1s ease-in;
  -ms-transition: all 0.1s ease-in;
  -o-transition: all 0.1s ease-in;
  transition: all 0.1s ease-in;
  border: none;
  text-shadow: 0 -0.5px 0 rgba(0, 0, 0, 0.25);
  /*socials*/ }
  .btn.btn-lg {
    padding: 12px 35px;
    font-size: 18px; }
  .btn.btn-md {
    padding: 10px 30px;
    font-size: 17px; }
  .btn.btn-sm {
    padding: 8px 25px;
    font-size: 15px; }
  .btn.btn-xs {
    padding: 6px 20px;
    font-size: 12px; }
  .btn.round {
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    border-radius: 6px; }
  .btn.semi-circle {
    -webkit-border-radius: 25px;
    -moz-border-radius: 25px;
    -ms-border-radius: 25px;
    border-radius: 25px; }
  .btn.btn-default {
    color: #ffffff;
    background-color: #0cd4d2;
    opacity: 1; }
    .btn.btn-default:hover, .btn.btn-default:active, .btn.btn-default:focus {
      color: #ffffff;
      background-color: #0cd4d2;
      opacity: .8;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }

.btn.btn-default1 {
    color: #ffffff;
    background-color: #0cd4d2;
    opacity: 1;
    height: 59px;
    border-top
    /left:120%;
}
    .btn.btn-default1:hover, .btn.btn-default1:active, .btn.btn-default1:focus {
      color: #ffffff;
      background-color: #0cd4d2;
      opacity: .8;
      -webkit-box-shadow: none;
      -moz-box-shadow: none;
      -ms-box-shadow: none;
      box-shadow: none; }